Django
djangorestframework
psycopg2-binary
redis
BeautifulSoup4
flake8
requests
requests[socks]
lxml
wheel
coverage
channels
channels_redis
websocket-client
https://github.com/VirtualJudge/spider/releases/download/fix/spider-1.0-py3-none-any.whl
celery
daphne
sentry-sdk