Django
djangorestframework
psycopg2-binary
redis
BeautifulSoup4
flake8
requests
requests[socks]
lxml
wheel
coverage
channels
channels_redis
websocket-client
git+https://github.com/VirtualJudge/spider
celery
daphne
sentry-sdk