Django
djangorestframework
psycopg2-binary
django-cors-headers
celery
redis
gunicorn
https://github.com/VirtualJudge/VirtualJudgeSpider/releases/download/v0.4.8/VirtualJudgeSpider-0.4.8-py36-none-any.whl
