

{% extends 'include/base.html' %}
{% block title %}<title>新建题集</title>{% endblock %}


{% block body %}
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-8 column mt-3">
                <div class="card">
                    <div class="card-header">
                        新建题集
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">源名称</th>
                            <th scope="col">源编号</th>
                            <th scope="col">标题</th>
                        </tr>
                        </thead>
                        <tbody id="id_problem_list">
                        </tbody>
                    </table>
                    <div class="card-body">
                        <form>
                            <div class="form-group row">
                                <label for="id_title" class="col-lg-2 col-form-label">标题</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" id="id_title" required>
                                </div>
                                <div class="col-lg-2">
                                    <button id="id_submit_button" type="button" class="form-control btn btn-primary">
                                        提交
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 column mt-3">
                <div class="card">
                    <div class="card-header">
                        查找题目
                    </div>
                    <div class="card-body">
                        <form role="form">
                            <div class="form-group">
                                <label for="id_select">
                                    源名称
                                </label>
                                <select id="id_select" class="form-control" onchange="handleSelectChange()">
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="id_problem_id">
                                    源编号
                                </label>
                                <input type="text" class="form-control" id="id_problem_id"/>
                            </div>
                            <button type="button" id="id_find_button" class="btn btn-outline-secondary">查找
                            </button>
                            <div class="form-group mt-3">
                                <span id="id_info"></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% load staticfiles %}
    <script src="{% static "contest/new.js" %}"></script>
{% endblock %}