

{% extends 'include/base.html' %}

{% block title %}登录网站{% endblock %}


{% block body %}
    <div class="container">
        <div class="row clearfix">
            <div class="col-sm-2 col-md-3 col-lg-4 column">
            </div>
            <div class="col-sm-8 col-md-6 col-lg-4 column">
                <form role="form">
                    <div class="form-group">
                        <p id="id_message" class="text-warning">

                        </p>
                    </div>
                    <div class="form-group">
                        <label for="id_username">账号</label>
                        <input type="text" class="form-control" id="id_username"/>
                    </div>
                    <div class="form-group">
                        <label for="id_password">密码</label>
                        <input type="password" class="form-control" id="id_password"/>
                    </div>
                    <button id="id_button" onclick="handleButtonClick()" type="button" class="btn btn-secondary">提交
                    </button>
                </form>
            </div>
            <div class="col-sm-2 col-md-3 col-lg-4 column">
            </div>
        </div>
    </div>
    {% load staticfiles %}
    <script src="{% static "login.js" %}"></script>
{% endblock %}