

{% extends 'include/base.html' %}

{% block title %}登录网站{% endblock %}


{% block body %}
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-4 column">
            </div>
            <div class="col-md-4 column">
                <form role="form">
                    <div class="form-group">
                        <p id="id_message" class="text-warning">

                        </p>
                    </div>
                    <div class="form-group">
                        <label for="id_username">账号</label>
                        <input type="text" class="form-control" id="id_username"/>
                    </div>
                    <div class="form-group">
                        <label for="id_password">密码</label>
                        <input type="password" class="form-control" id="id_password"/>
                    </div>
                    <button id="id_button" onclick="handleButtonClick()" type="button" class="btn btn-default">提交
                    </button>
                </form>
                <script>
                    function handleLogin(res) {
                        $("#id_message").html("");
                        console.log(res);
                        if (res.status === 0) {
                            window.location.href = '/';
                        } else {
                            $.each(res.data, function (k, v) {
                                v.forEach(function (val) {
                                    $("#id_message").append(val + "\n");
                                })
                            });
                        }
                    }

                    function handleButtonClick() {
                        loginWebsite($("#id_username").val(), $("#id_password").val(), handleLogin);
                    }

                </script>
            </div>
            <div class="col-md-4 column">
            </div>
        </div>
    </div>
{% endblock %}