

{% extends 'include/base.html' %}

{% block title %}题目{% endblock %}

{% block  body %}

    <div class="container">
        <div class="row clearfix">
            <div class="col-md-8 column mt-2">

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>
                            编号
                        </th>
                        <th>
                            源名称
                        </th>
                        <th>
                            源编号
                        </th>
                        <th>
                            名称
                        </th>
                        <th>
                            更新时间
                        </th>
                    </tr>
                    </thead>
                    <tbody id="id_list">
                    <tr>

                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="col-md-4 column mt-2">
                <div class="card">
                    <div class="card-header">
                        查找题目
                    </div>
                    <div class="card-body">
                        <form role="form">
                            <div class="form-group">
                                <label for="id_select">
                                    源名称
                                </label>
                                <select id="id_select" class="form-control" onchange="handleSelectChange()">

                                </select>
                            </div>
                            <div class="form-group">
                                <label for="id_problem_id">
                                    源编号
                                </label>
                                <input type="text" class="form-control" id="id_problem_id"/>
                            </div>
                            <button type="button" id="id_button" class="btn btn-outline-secondary">查找</button>
                            <div class="form-group mt-3">
                                <span id="id_info" onclick="handleInfoClick()"></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% load staticfiles %}
    <script src="{% static 'problems.js' %}"></script>
{% endblock %}