

{% extends 'include/base.html' %}

{% block title %}<title>排行列表</title>{% endblock %}

{% block  body %}

    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column mt-2">

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>
                            编号
                        </th>
                        <th>
                            用户名
                        </th>
                        <th>
                            通过
                        </th>
                        <th>
                            尝试
                        </th>
                        <th>
                            提交
                        </th>
                    </tr>
                    </thead>
                    <tbody id="id_rank_list">
                    <tr>

                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    {% load staticfiles %}
    <script src="{% static 'rank.js' %}"></script>
{% endblock %}