

{% extends 'include/base.html' %}

{% block title %}提交{% endblock %}


{% block body %}
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>
                            编号
                        </th>
                        <th>
                            源名称
                        </th>
                        <th>
                            源编号
                        </th>
                        <th>
                            用户名
                        </th>
                        <th>
                            运行结果
                        </th>
                        <th>
                            运行时间
                        </th>
                        <th>
                            运行内存
                        </th>
                    </tr>
                    </thead>
                    <tbody id="id_list">

                    </tbody>
                </table>
                <script>
                    function getColorVerdict(val, code) {
                        console.log(val, code);
                        switch (code) {
                            case 0:
                                return "<span class=\"label label-default\">" + val + "</span>";
                            case 1:
                                return "<span class=\"label label-success\">" + val + "</span>";
                            case 2:
                                return "<span class=\"label label-warning\">" + val + "</span>";
                            case 3:
                                return "<span class=\"label label-danger\">" + val + "</span>";
                            case 4:
                                return "<span class=\"label label-primary\">" + val + "</span>";
                        }
                    }

                    function verdictCheck(val, code) {
                        if (val) {
                            return getColorVerdict(val, code);
                        }
                        return " ";
                    }

                    function spaceCheck(val) {
                        if (val) {
                            return val;
                        } else {
                            return " ";
                        }
                    }

                    function handleStatusList(res) {
                        console.log(res);
                        res.data.forEach(function (item) {

                            $("#id_list").append("<tr>" +
                                "<td>" + item.id + "</td>" +
                                "<td>" + item.remote_oj + "</td>" +
                                "<td>" + item.remote_id + "</td>" +
                                "<td>" + item.user + "</td>" +
                                "<td>" + verdictCheck(item.verdict, item.verdict_code) + "</td>" +
                                "<td>" + spaceCheck(item.execute_time) + "</td>" +
                                "<td>" + spaceCheck(item.execute_memory) + "</td>" +

                                "</tr>"
                            )
                        })
                    }

                    function loadStatusList() {
                        getStatusList(handleStatusList);
                    }

                    $(document).ready(function () {
                        loadStatusList();
                        // setInterval(loadStatusList, 5000);
                    })
                </script>
            </div>
        </div>
    </div>

{% endblock %}