<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

    <title>{{ problem.remote_oj }}-{{ problem.remote_id }} {{ problem.title }}</title>
</head>
<body>
<div>
    <form id="uploadForm" enctype="multipart/form-data">
        {% csrf_token %}
        remote_oj:
        <input id="remote_oj" name="remote_oj" value="{{ problem.remote_oj }}" readonly>
        remote_id:
        <input id="remote_id" type="text" name="remote_id" value="{{ problem.remote_id }}" readonly>

        <br/>
        <select id="language" name="language">

        </select>
        <br>
        source_code:
        <input id="source_code" type="file" name="source_code">
        <br>
        <input value="提交代码" name="submit" type="button" onclick="upload()"
               id="submit"/></form>
    <p id="serverResponse" style="color: #ff7bc6;"></p>

</div>
<hr>
<div>
    <iframe id="frame" src="{% url 'show_problem_html' problem.remote_oj problem.remote_id %}" width="100%"
            frameborder="0"
            scrolling="no">
    </iframe>
</div>

<script>
    var submission_id = null;
    var timer = null;

    function requestResult() {
        $.get('/api/verdict/' + submission_id, function (res) {
            result = JSON.parse(res);
            if (result.data.status > 3 || result.data.verdict_status !== false) {
                $("#serverResponse").html(result.data.verdict);
                clearInterval(timer);
            } else if (result.data.status === 3) {
                $("#serverResponse").html(result.data.verdict);
            }
        })
    }

    function upload() {
        var form = new FormData(document.getElementById("uploadForm"));
        $("#serverResponse").html('Code Submitting...');

        $.post({
                url: "/api/submission?token=bd2aac399c584d918e4b7942bf23bc6e",
                data: form,
                processData: false,
                contentType: false
            },
            function (response) {
                var json_response = JSON.parse(response);
                if (json_response.status === 1) {

                    submission_id = json_response.data.submission_id;
                    timer = setInterval(requestResult, 1000);
                } else {
                    $("#serverResponse").html(json_response.data);
                }

            }
        );
    }

    function loadRemoteLang() {
        $.get('/api/languages/{{ problem.remote_oj }}', function (result) {
            $("#language").html("");
            var languages = JSON.parse(result);
            var selected = false;
            languages.data.forEach(function (lang) {
                $("#language").append("<option value='" + lang.oj_language + "'>" + lang['oj_language_name'] + "</option>");
                if (selected === false) {
                    selected = true;
                    $("#language").val(lang.oj_language);
                }
            });

        })
    }

    loadRemoteLang();

    function reinitIframe() {
        var iframe = document.getElementById("frame");
        try {
            var bHeight = iframe.contentWindow.document.body.scrollHeight;
            var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
            var height = Math.min(bHeight, dHeight);
            iframe.height = height;
        } catch (ex) {
        }
    }

    window.setInterval("reinitIframe()", 200);
</script>
</body>
</html>