<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.22.0/moment.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.22.0/locale/zh-cn.js"></script>
    <script>
        moment.locale('zh-cn');
    </script>
    {% load staticfiles %}
    <script src="{% static 'api.js' %}"></script>
</head>
<body>
{% include 'include/header.html' %}

{% block body %}
{% endblock %}

{% include 'include/foot.html' %}
</body>
</html>