<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Virtual Judge<sup>
        <span class="badge badge-secondary">Alpha 1</span>
    </sup></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item mx-2">
                <a class="nav-link link_problem link_problems" href="/problems/">题目</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link link_submission link_submissions" href="/submissions/">提交</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link link_contest link_contests" href="/contests/">比赛</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link link_contest link_contests" href="/rank/">排行榜</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" style="color: red">删档测试，请备份好提交数据</a>
            </li>
        </ul>
        <ul id="id_session_ul" class="navbar-nav navbar-right">
            <li class="nav-item mx-2">
                <a class="nav-link link_login" href="/login/">登录</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link link_register" href="/register/">注册</a>
            </li>
        </ul>
    </div>
</nav>
{% load staticfiles %}
<script src="{% static "include/header.js" %}"></script>
