<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Virtual Judge<sup>
        <span style="font-size: 12px;">&nbsp;Alpha 1&nbsp;</span>
    </sup></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item mx-2">
                <a class="nav-link" href="/">题目</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" href="/submissions/">提交</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" href="/contests/">比赛</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" style="color: red">删档测试，请备份好提交数据</a>
            </li>
        </ul>
        <ul id="id_session_ul" class="navbar-nav navbar-right">
            <li class="nav-item mx-2">
                <a class="nav-link" href="/login/">登录</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link" href="/register/">注册</a>
            </li>
        </ul>
    </div>
</nav>

<script>
    function handleLoginSession(res) {
        $("#id_session_ul").html("");
        if (res.status === 0) {
            let session_ul = "<li class=\"nav-item\">\n" +
                "                <a class=\"nav-link\" href=\"#\">" + res.data + "</a>\n" +
                "            </li>\n" +
                "            <li class=\"nav-item\">\n" +
                "                <a class=\"nav-link\" id=\"id_logout\" style=\"cursor:pointer;\">登出</a>\n" +
                "            </li>";
            $("#id_session_ul").html(session_ul);
            $(document).on('click', "#id_logout", handleLogoutClick);
        } else {
            let session_ul = " <li class=\"nav-item\">\n" +
                "                <a class=\"nav-link\" href=\"/login\">登录</a>\n" +
                "            </li>\n" +
                "            <li class=\"nav-item\">\n" +
                "                <a class=\"nav-link\" href=\"/register\">注册</a>\n" +
                "            </li>";
            $("#id_session_ul").html(session_ul);
        }
    }

    function handleLogoutClick() {
        getLogout();
        location.reload();
    }

    $(document).ready(function () {
        getLoginSession(handleLoginSession);
    })
</script>
